
    <!-- Portfolio Grid Section -->
    <section style="background-color: #efefef;" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #221f1f;">CURSOS</h2></br>
                </div>
            </div>
           <div class="col-lg-12">
               <div class="row">
                    <div style="color: #221f1f">
                        <p>Os cursos são ministrados via internet, no laboratório de informática das escolas e telecentros participantes do projeto, são eles:</br></p>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Inclusão Digital para o Empreendedor</br>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Empreendedorismo</br>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Mundo dos Micro e Pequenos Negócios</br>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Elaborando o Plano de Negócio</br>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Plano de Negócio (curso + ferramenta)</br></p>
                    </div>
               </div>
            </div>
        </div>
    </section>
